.header {
  .bcg {
    background: url(../assets/hero-img.png) no-repeat;
    @include parallex-background;
    z-index: 15;
  }
  
  .wrapper {
    display: grid;
    height: 100vh;
  }

  &__text-container {
    text-align: right;
    justify-self: center;
    align-self: center;
    transform: translateX(-50%);

    @include media(730px) {
      transform: translateX(0);
      text-align: center;
      margin-right: 0;
    }
  }

  &__logo {
    display: block;
    width: 3rem; 
    justify-self: flex-start;
    transform: translateY(4rem);
  }

  &__tagline {
    margin-top: $medium-gap;
  }

  .width {
    display: block;
    width: 100%;
  }

  .accent {
    color: $white;
    margin-right: $tiny-gap;
  }

  .scroll-hint {
    color: $white;
    font-size: 10px;
    justify-self: center;
    align-self: end;
    display: inline-block;
    margin-bottom: 2rem;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
    position: relative;


    &__icon {
      font-size: 2.5rem;
      position: absolute;
      bottom: 1rem;
      left: 0;
    }

  }

  &__text-container,
  &__logo,
  .scroll-hint {
    grid-column: 1 / -1;
    grid-row: 1/ -1;
  }
}

