.header {
  background: url(../assets/hero-img.png) no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  text-align: right;
  @include vertical-flex-center;

  &__title, &__tagline {
    transform: translateX(-50%);
  }

  &__tagline {
    margin-top: $medium-gap;
  }

  .width {
    display: block;
    width: 100%;
  }

  .accent {
    color: $white;
    margin-right: $tiny-gap;
  }
}

