.header {
  .bcg {
    background: url(../assets/hero-img.png) no-repeat;
    @include parallex-background;
    z-index: 15;
    padding: $big-gap 0;
  }
  
  .wrapper {
    display: grid;
    height: 100vh;
  }

  &__text-container {
    text-align: right;
    justify-self: center;
    align-self: center;
    transform: translateX(-50%);

    @include media(730px) {
      transform: translateX(0);
      text-align: center;
      margin-right: 0;
    }
  }

  &__logo {
    display: block;
    width: 3rem; 
    justify-self: flex-start;
    align-self: flex-start;

    @include media (1200px) {
      margin-left: 1rem;
    }

    @include media (870px) {
      margin-left: 2rem;
    }
  }

  &__tagline {
    margin-top: $medium-gap;
  }

  .width {
    display: block;
    width: 100%;
  }

  .accent {
    color: $white;
    margin-right: $tiny-gap;
  }

  .scroll-hint {
    color: $white;
    font-size: 10px;
    justify-self: center;
    align-self: end;
    display: inline-block;
    margin-bottom: 100px;
    text-decoration: none;
    position: relative;

    &__icon {
      display: inline-block;
      border: 1px solid $white;
      border-radius: 50px;
      width: 1.5rem;
      height: 2.5rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before {
        @include pseudo;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 8px;
        left: 50%;
        background: $white;
        animation: scroll 2s infinite;
      }
    }

  }

  &__text-container,
  &__logo,
  .scroll-hint {
    grid-column: 1 / -1;
    grid-row: 1/ -1;
  }
}

