.fs {
  height: 100vh;

  @include media(1150px) {
    height: auto;
  }
}

/* =Simple animation up */
.slideInUp {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-out;
  transform: translate3d(0, 100px, 0);

  @include media (1150px) {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .is-active & {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.slideInUp2 {
    transition-delay: 0.2s;

    @include media (1150px) {
      transition-delay: 0;
    }
  }

  &.slideInUp3 {
    transition-delay: 0.4s;

    @include media (1150px) {
      transition-delay: 0;
    }
  }

  &.slideInUp4 {
    transition-delay: 0.6s;

    @include media (1150px) {
      transition-delay: 0;
    }
  }

  &.slideInUp5 {
    transition-delay: 0.8s;

    @include media (1150px) {
      transition-delay: 0;
    }
  }
}

.content-block {
  height: 50vh;
  background: $primary-color;
  z-index: 30;
  
  @include media (1150px) {
    display: none;
  }
}