.about {
  
  .bcg {
    background: $white;
    position: relative;
    @include section-style;
    @include parallex-background;
    z-index: 4;
  }

  &__title {
    text-align: center;
    position: absolute;
    top: -5px;
    left: 40%;
  }

  &__content {
    border: 2px solid $primary-color;
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    position: relative;
    background: $white;
  }

  &__image-container {
    width: 35%;
    height: 400px;
    order: -1;
    position: relative;
    top: -50px;
    left: -50px;
    @include box-shadow;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-container {
    width: 65%;
  }
}

.portfolio {
  
  .bcg {
    background: $white;
    @include section-style;
    padding-top: 2%;
    display: grid; 
    grid-template-columns: 20px 1fr 20px;
    align-content: start;
    @include parallex-background;
    z-index: 3;
  }

  .wrapper {
    grid-column: 1 / -1;
    display: grid; 
    width: 100%;
    grid-gap: $tiny-gap;
    grid-template-columns: $tiny-gap repeat(3, calc(75vw - 40px)) $tiny-gap;
    padding: 0 $small-gap 0 0;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    transform: translateY(-20%);

    &::before,
    &::after {
      content: "";
    }
  }
}

.blog {
  
  .bcg {
    @include section-style;
    padding-top: 10%;
    background: $white;
    overflow: hidden;
    z-index: 2;
  }
  
  .wrapper { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-column-gap: $medium-gap;
  }

  &__item {
    @include box-shadow;
  }

  &__title {
    position: absolute;
    right: 0;
    top: 2%;

  }

  &__image-container {
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all .2s linear;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text-container{
    padding: $small-gap $tiny-gap;
    background: $primary-color;
    height: 42vh;
    transition: all .2s linear;
    @include vertical-flex-center;
    text-align: center;
  }

  &__paragraph,
  &__button {
    margin-bottom: $small-gap;
  }
}

.contact {
  .bcg {
    background: url(../assets/contact-img.png) no-repeat;
    @include parallex-background;
    background-size: 50%;
    background-position: 0 0;
    z-index: 1;
  }

  &__title {
   margin-left: 14rem;
  }

  &__form {
    width: 50%;
    margin-left: 45vw;
  }
}