.about {
  .bcg {
    background: $white;
    @include section-style;
    padding-top: 2%;
    @include parallex-background;

    @include media(1150px) {
      padding: $small-gap 0 $big-gap 0;
      height: auto;
    }
  }

  &__title {
    text-align: center;
    padding: $small-gap;

    @include media (1280px) {
      padding: $tiny-gap;
    }
  }

  &__content {
    border: 1px solid $primary-color;
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    position: relative;
    top: -60px;
    background: $white;

    @include media(1150px) {
      @include vertical-flex-center;
      position: static;
    }
  }

  &__image-container {
    width: 30%;
    height: 300px;
    order: -1;
    position: relative;
    top: -50px;
    left: -50px;
    @include box-shadow;

    @include media(1150px) {
      width: 50%;
      margin: 0 auto;
      top: 0;
      left: 0;
    }

    @include media(850px) {
      width: 50%;
      height: 40vh;
    }

    @include media(600px) {
      width: 60%;
      height: 30vh;
    }

    @include media(350px) {
      width: 70%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 

  &__text-container {
     width: 80%;

    @include media(1150px) {
      text-align: center;
    }

    @include media(870px) {
      width: 90%;
    }

    @include media(500px) {
      width: 95%;
    }
  }

  &__resume {
    display: inline-block;
    margin-top: $tiny-gap;

    @include media (1150px) {
      margin: $small-gap 0;
    }
  }
}

.portfolio {
  .bcg {
    background: $white;
    @include section-style;
    padding-top: 0;
    @include parallex-background;

    @include media(1150px) {
      height: auto;
      background: $primary-color;
      padding: 0 0 $medium-gap 0;
    }
  }
}

.blog {
  .bcg {
    @include section-style;
    background: $white;
    padding-top: 2%;

    @include media(1150px) {
      height: auto;
      padding: 0 0 $medium-gap 0;
    }
  }

  &__content {
    padding: 0 $big-gap;
    transform: translateY(-6%);

    @include media(1150px) {
      transform: translate(0);
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: $medium-gap;
      padding: 0;
    }
  }

  &__item {
    margin: 0 $small-gap;
    width: 300px;

    @include media (1150px) {
      margin: 0 auto;
      width: auto;
    }
  }

  &__title {
    text-align: right;

    @include media(1150px) {
      text-align: center;
      padding: $small-gap;
    }
  }

  &__image-container {
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.2s linear;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text-container {
    padding: $small-gap $tiny-gap;
    background: $primary-color;
    height: 40vh;
    transition: all 0.2s linear;
    @include vertical-flex-center;
    text-align: center;

    @include media (1150px) {
      padding: 0;
    }
  }
  
  &__blog-title {
    @include media (610px) {
      font-size: 1.2rem;
    }
  }

  &__paragraph,
  &__button {
    margin-bottom: $small-gap;
  }
}

.contact {
  .bcg {
    background: url(../assets/contact-img.png) no-repeat;
    @include parallex-background;
    background-size: 50% 100%;
    background-position: left bottom;

    @include media(1150px) {
      background-size: cover;
      background-position: center;
      height: auto;
      padding: 0 0 $medium-gap 0;
    }
  }

  &__title {
    text-align: center;
    padding: $small-gap 15rem $small-gap 0;

    @include media(1150px) {
      padding: $small-gap;
    }

    @include media(590px) {
      font-size: 3.6rem;
    }

    .heading-title {
      @include media(1150px) {
        color: $white;
      }

      @include media(590px) {
        display: none;
      }
    }
  }

  &__form {
    width: 45%;
    margin-left: 50vw;
    margin-top: $small-gap;

    @include media(1150px) {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    @include media(670px) {
      width: 100%;
    }
  }
}
