@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin vertical-flex-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin vertical-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin horizontal-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin section-style() {
  padding: 9% 10% 5% 10%;
  position: relative;
  margin: 0 auto;
}

@mixin box-shadow {
  box-shadow: 10px 20px 50px 6px rgba(23, 23 ,23, 0.2);
}

@mixin hover($color) {
  &:hover, &:focus {
    color: $color;
  }
}

@mixin media($screen-size) {
  @media (max-width: $screen-size) {
    @content;
  }
}

@mixin parallex-background {
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}