//colours
$white: #f8f8f8;
$black: #232323;
$grey: #D8D8D8;
$primary-color: #16524C;
$secondary-color: #1C8682;
$tertiary-color: #99E3DC;

//font
$heading-font: 'Vidaloka', serif;
$body-font: 'Fira Sans', sans-serif;

//margins/paddings
$tiny-gap: 10px;
$small-gap: 1rem;
$medium-gap: 2rem;
$big-gap: 4rem;