//colours
$white: #fafafa;
$black: #232323;

//font
$heading-font: 'Vidaloka', serif;
$body-font: 'Fira Sans', sans-serif;

//margins/paddings
$tiny-gap: 10px;
$small-gap: 1rem;
$medium-gap: 2rem;
$big-gap: 4rem;