.form {

  &__input {
    border: none;
    border: 2px solid $primary-color;
    background: $white;
    padding: $tiny-gap $small-gap;
    width: 100%;
    @include vertical-flex-left;

    @include media (1150px) {
      
    }

    &:focus {
      outline: none;
      border: 2px solid $secondary-color;
      @include box-shadow;
    }

    &::placeholder {
      font-family: $body-font;
      font-size: 1rem;
      color: $black;
    }
  }

  &__label {
    color: $black;
    font-size: 0.8rem;
    margin-left: $medium-gap;
    display: block;
    transition: all 0.3s;

    @include media (1150px) {
      color: $white;
      text-align: left;
      margin-left: $small-gap;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
  }

  &__button {
    width: 80%;
    background: transparent;
    border: none;
    margin-left: 10%;

    @include media (1150px) {
      margin-left: 0;
    }
  } 

  &__paragraph,
  &__button, 
  textarea {
    margin-bottom: $medium-gap;

    @include media (1150px) {
      color: $white;
    }
  }
}