.form {

  &__input {
    border: none;
    border: 2px solid $primary-color;
    background: $white;
    padding: $small-gap $medium-gap;
    width: 100%;
    @include vertical-flex-left;

    &:focus {
      outline: none;
      border: 2px solid $secondary-color;
      @include box-shadow;
    }

    &::placeholder {
      font-family: $body-font;
      font-size: 1rem;
      color: $black;
    }
  }

  &__label {
    color: $black;
    font-size: 0.8rem;
    margin-left: $medium-gap;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
  }

  &__button {
    width: 80%;
    background: transparent;
    border: none;
    margin-left: 10%;
  } 

  &__paragraph,
  &__button, 
  textarea {
    margin-bottom: $medium-gap;
  }
}