.links {
  color: $white;
  font-family: $body-font;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  
  &__section {
    font-style: italic;
    color: $primary-color;
    width: 100px;
    position: absolute;
    
    &--accent {
      color: $white;
    }
  }
  
  &__section-top {
    transform: rotate(-90deg);
    top: 50px;
    left: 5%;

    &::after{
      @include pseudo;
      width: 50px;
      height: 2px;
      background: $primary-color;
      right: -20px;
      top: 15px;
    }

    &--accent {
      &::after {
        background: $white;
        right: -38px;
      }
    } 
  }

  &__section-bottom {
    transform: rotate(-90deg);
    bottom: 82px;
    right: 5%;

    &::after {
      @include pseudo;
      width: 50px;
      height: 2px;
      background: $primary-color;
      left: -52px;
      top: 15px;
    }

    &--accent {    
      &::after {
        background: $white;
        left: -55px;
      }
    }
  }
}