.nav{
  
  &__list {
    @include list;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  &__link {
    text-decoration: none;
    padding-right: $medium-gap;
    position: relative;
    display: block;

    &:hover .nav__label,
    &:focus .nav__label {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__dot {
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    background: $white;
    border-radius: 100%;
    transform: translateY(-50%);
    transition: all .3s linear;
  }

  &__label {
    display: block;
    opacity: 0.5;
    visibility: hidden;
    transform: translateX(-10px);
    transition: all .2s cubic-bezier(.17, .67, .83, .67);
  }
}