.portfolio {
  &__title {
    position: relative;
    top: 6%;
    left: 2%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }

  &__image-container {
    width: 42%;
    height: 60%;
    margin-right: $big-gap;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-container {
    background: $primary-color;
    width: 40%;
    height: 100%;
    margin-left: $big-gap;
    padding: $small-gap $medium-gap; 
    @include box-shadow;
    order: -1;
    position: relative;
    @include vertical-flex-left;
  }

  &__project-title, 
  &__description,
  &__icon-container,
  &__button {
    margin: $small-gap 0;
  }

  &__button {

    &:first-child {
      margin-right: $small-gap;
    }
  }
}

.dev-icon, 
.dev-svg {
  margin-right: 1.5rem;
}

.dev-icon {
  color: $white;
  font-size: 1.9rem;
}

.dev-svg {
  fill: $white; 
  width: 1.9em;
}

.flickity {

  &-prev-next-button {

    background: $white;
    color: $primary-color;
    border: 2px solid $primary-color;
    
    &:hover, 
    &:focus {
      background: $primary-color;
      color: $white;
    }
  }

  &-page-dots {
    bottom: -50px;
  }

  &-page-dots .dot {
    height: 10px;
    width: 100px;
    margin: 0;
    border-radius: 0;
    background: $primary-color;
  }

  &-enabled:focus .flickity-viewport {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
}



