body {
  font-size: 1rem;
  font-family: $body-font;
  line-height: 1.6;
  background: $white;
}

.heading {
  margin: 0;
  padding: 0;
  color: $white;
  font-family: $heading-font;

  &-primary {
    font-size: 5rem;
    line-height: 5rem;

    @include media(1000px) {
      font-size: 4rem;
      line-height: 4rem;
    }

    @include media(730px) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  &-secondary {
    font-size: 1.6rem;
    color: $primary-color;

    &--accent {
      font-size: 1.6rem;
      color: $white;
    }
  }

  &-tertiary{
    font-family: $body-font;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2;

    @include media(730px) {
      font-size: 1.2rem;
    }
  }

  &-title {
    font-size: 6.5rem;
    letter-spacing: 5px;
    color: $primary-color;

    &--accent {
      color: $white;
    }
  }
}

.paragraph {
  font-family: $body-font;
  color: $primary-color;
  font-weight: 300;
  margin: 0;
  padding: 0;

  &--accent {
    color: $white;
  }

  &-title {
    font-family: $heading-font;
    font-weight: normal;
    font-style: italic;
    color:$primary-color;
    margin-bottom: $small-gap;

    &--accent {
      color: $white;
      font-style: initial;
    }
  }
}

