html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  body: #D8D8D8;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.image {
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.6;
  background: #f8f8f8;
}

.heading {
  margin: 0;
  padding: 0;
  color: #f8f8f8;
  font-family: "Vidaloka", serif;
}

.heading-primary {
  font-size: 7rem;
  line-height: 7rem;
}

.heading-secondary {
  font-size: 2.5rem;
  color: #16524c;
}

.heading-secondary--accent {
  font-size: 1.9rem;
  color: #f8f8f8;
}

.heading-tertiary {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.2;
}

.heading-title {
  font-size: 8rem;
  letter-spacing: 5px;
  color: #16524c;
}

.heading-title--accent {
  color: #f8f8f8;
}

.paragraph {
  font-family: "Fira Sans", sans-serif;
  color: #16524c;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.paragraph--accent {
  color: #f8f8f8;
}

.paragraph-title {
  font-family: "Vidaloka", serif;
  font-weight: normal;
  font-style: italic;
  color: #16524c;
  margin-bottom: 1rem;
}

.paragraph-title--accent {
  color: #f8f8f8;
  font-style: initial;
}

.button {
  color: #f8f8f8;
  background: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border: 2px solid #16524c;
  border-radius: 5px;
  padding: 10px 2rem;
  position: relative;
  z-index: 10;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
          box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
}

.button:hover, .button:focus {
  background: #16524c;
  color: #f8f8f8;
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button:hover::after, .button:focus::after {
  background: #16524c;
}

.button:hover::before, .button:hover::after, .button:focus::before, .button:focus::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  opacity: 0.5;
  -webkit-transform: scale3d(0.7, 1, 1);
          transform: scale3d(0.7, 1, 1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
          transform: scale3d(1.1, 1, 1);
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}

.button::before, .button::after {
  background: #1C8682;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  z-index: -10;
}

.form__input {
  border: none;
  border: 2px solid #16524c;
  background: #f8f8f8;
  padding: 1rem 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__input:focus {
  outline: none;
  border: 2px solid #1C8682;
  -webkit-box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
          box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
}

.form__input::-webkit-input-placeholder {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #232323;
}

.form__input:-ms-input-placeholder {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #232323;
}

.form__input::-ms-input-placeholder {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #232323;
}

.form__input::placeholder {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: #232323;
}

.form__label {
  color: #232323;
  font-size: 0.8rem;
  margin-left: 2rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.form__button {
  width: 80%;
  background: transparent;
  border: none;
  margin-left: 10%;
}

.form__paragraph, .form__button,
.form textarea {
  margin-bottom: 2rem;
}

.links {
  color: #f8f8f8;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.links__section {
  font-style: italic;
  color: #16524c;
  width: 100px;
  position: absolute;
}

.links__section--accent {
  color: #f8f8f8;
}

.links__section-top {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 70px;
  left: 5%;
}

.links__section-top::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 2px;
  background: #16524c;
  right: -45px;
  top: 15px;
}

.links__section-top--accent::after {
  background: #f8f8f8;
  right: -38px;
}

.links__section-bottom {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 82px;
  right: 5%;
}

.links__section-bottom::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 2px;
  background: #16524c;
  left: -52px;
  top: 15px;
}

.links__section-bottom--accent::after {
  background: #f8f8f8;
  left: -55px;
}

.links__section-portfolio {
  top: 110px;
}

.links__section-portfolio::after {
  right: -82px;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__item {
  margin-bottom: 10px;
}

.header__link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.header__link:hover, .header__link:focus {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.header__link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0.3;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  background: #99E3DC;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.portfolio__title {
  -webkit-transform: translateX(-13%);
          transform: translateX(-13%);
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.portfolio__image-container {
  height: 70%;
  width: 50%;
}

.portfolio__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__text-container {
  background: #16524c;
  width: 40%;
  height: 100%;
  padding: 1rem 4rem 2rem 2rem;
  -webkit-box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
          box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
}

.portfolio__project-title, .portfolio__description {
  margin-bottom: 1rem;
}

.portfolio__icon-container {
  margin-bottom: 2rem;
}

.portfolio__icon:nth-child(4) {
  margin-right: 5rem;
}

.portfolio__button:first-child {
  margin-right: 1rem;
}

.dev-icon,
.dev-svg {
  margin-right: 1.8rem;
}

.dev-icon {
  color: #f8f8f8;
  font-size: 2rem;
}

.dev-svg {
  fill: #f8f8f8;
  width: 2em;
}

.footer {
  background: #D8D8D8;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

.footer__icon {
  color: #16524c;
  font-size: 2rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.footer__icon:hover {
  color: #1C8682;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer__toronto {
  margin-top: 10px;
  width: 1rem;
}

.footer__paragraph {
  text-align: center;
}

.footer__paragraph:last-child {
  padding-bottom: 1rem;
}

.header {
  background: url(../assets/hero-img.png) no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title, .header__tagline {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__tagline {
  margin-top: 2rem;
}

.header .width {
  display: block;
  width: 100%;
}

.header .accent {
  color: #f8f8f8;
  margin-right: 10px;
}

.fs {
  height: 100vh;
}

.about {
  padding: 5% 10% 5% 10%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 10%;
}

.about__title {
  text-align: center;
  position: relative;
  top: 1rem;
  line-height: 6rem;
  margin-left: 5rem;
  z-index: -10;
}

.about__content {
  border: 2px solid #16524c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2%;
  position: relative;
  background: #f8f8f8;
}

.about__image-container {
  width: 35%;
  height: 400px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  top: -50px;
  left: -50px;
  -webkit-box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
          box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
}

.about__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text-container {
  width: 65%;
}

.portfolio {
  background: url(../assets/bg-img.png) no-repeat;
  background-size: cover;
  padding: 5% 10% 5% 10%;
  position: relative;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 20px;
      grid-template-columns: 20px 1fr 20px;
  -ms-flex-line-pack: start;
      align-content: start;
}

.portfolio .wrapper {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 10px;
  -ms-grid-columns: 10px (calc(75vw - 40px))[3] 10px;
      grid-template-columns: 10px repeat(3, calc(75vw - 40px)) 10px;
  padding: 0 1rem 0 0;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.portfolio .wrapper::before, .portfolio .wrapper::after {
  content: "";
}

.blog {
  padding: 5% 10% 5% 10%;
  position: relative;
  margin: 0 auto;
  background: #D8D8D8;
  overflow: hidden;
}

.blog .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-column-gap: 2rem;
}

.blog__item {
  -webkit-box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
          box-shadow: 10px 20px 50px 6px rgba(23, 23, 23, 0.2);
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.blog__title {
  text-align: right;
  position: relative;
  right: -15%;
}

.blog__image-container {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.blog__image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.blog__image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog__text-container {
  padding: 1rem 10px;
  background: #16524c;
  height: 30vh;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.blog__paragraph, .blog__button {
  margin-bottom: 1rem;
}

.contact {
  background: url(../assets/contact-img.png) no-repeat;
  background-position: cover;
  background-size: 50%;
}

.contact__title {
  margin-left: 14rem;
}

.contact__form {
  width: 50%;
  margin-left: 45vw;
}
/*# sourceMappingURL=style.css.map */